extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Street view of paris
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          img(border="0" src="images/s-l1200.jpg")
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Gallery99 Coloured Landscaper Paris Street View Original Handmade Oil Painting On Canvas Framed ( 40x3x28 )<br>Brand: Gallery99
          .panel.panel-primary
            .panel-heading
              h2.panel-title Details of this Item
            .panel-body
              p Size	: L
              p Number of Items	: 1
              p Orientation :	Landscape
              p Shape	: Rectangular
              p Theme :	Landscape
              p Frame Type : Framed
              p Wall art form	: Painting
              p Material	: Canvas
              p Colour	: Multi
              p Room Type :	Room Décor, Dining Décor
          .panel.panel-primary
            .panel-heading
              h2.panel-title About this item 
            .panel-body
              p - Material of the Product: High Quality canvas with Framed
              p - This Is Painted By Fine Artisan And Shall Arrive To Your Home With Good Packing
              p - A Perfect Canvas Wall Painting - Decorations Paintings For Living Room, Bedroom, Kitchen, Office, Hotel, Dining Room, Office, Bathroom, Bar Etc. Great Gift For Art Lovers, Decorators, Designers, Family, Friends And More.
              p - Ready To Hang: Mounting Hardware Is Included, Just Take It Out Of The Box And It'S Ready To Hang.
              p - A Perfect Choice For Living Room And Bed Room Wall Painting. A Great Gift Idea For Your Relatives And Friends.
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new')  Add review
              h2.panel-title Customer Reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star

                    span.reviewAuthor       L.Madhusudhan
                    small.reviewTimestamp
                    p 16 July 2013
                  .col-xs-12
                    p wow, Excellent
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor       Jafar
                    small.reviewTimestamp
                    p 16 June 2013
                  .col-xs-12
                    p Realistic peice of design and print
                    p Quality of print is really good 
                    p Frame looks amazing
                    p Packing is also good
                    p Go ahead with this purchase
                    p The painting is very nice
                    p I feel very happy to see it everytime
