extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Dream Catcher
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          img(border="0" src="images/dream cap.jpg")
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
          p Zodics - Cotton Macrame Dream Catcher Type Woven Feather Wall Hanging Handmade Dreamcatcher Boho Tassels Decoration Home Decor Ornament Craft. (DC - 005)
          .panel.panel-primary
            .panel-heading
              h2.panel-title Details of this Item
            .panel-body
              p  Colour  : DC - 005
              p  Brand	: Generic
              p  Material	: Cotton
              p  Theme	: Religious
              p  Style	: Modern
              p  Target Audience : Women
              p  Included Components : Cotton Thread
              p  Mounting Type	: Hanging
              p  Item Package Quantity : 5
          .panel.panel-primary
            .panel-heading
              h2.panel-title About this item 
            .panel-body
              p - Reasonable Size- Total Length is approx 80cm/31.5"(Not included the hanging line),diameter 25cm/9.8", bigger than most of dream catchers decor.
              p - Materials - The beatiful chic macrame dream catcher is made of comfortable rope, wooden ring and soft feather. UUnique designed and handcrafted, it is ready to be the center of attention wherever you chose to hang it.
              p - Handmade Dream Catcher- Hanging the dream catcher over or around your sleeping area, the good dreams are trapped in the web, then slide down the feather tassel to the sleeping person, let you sleep with sweet dreams every night. It brings love, light and positive energy.
              p - Thoughtful Gift- It is a meaningful gift to present your friends, the macrame wall hanging dream catcher is a creative housewarming gifts, birthday gifts, Mother's day gifts,Thanksgiving gifts, Christmas gifts, Valentines gifts, or holiday and festival gifts for women and anyone whom you care.
       .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new')  Add review
              h2.panel-title Customer Reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star

                    span.reviewAuthor  Abhilasha Rajpoot
                    small.reviewTimestamp
                    p 21 May 2011
                  .col-xs-12
                    p  Good one to gift your dear once. It's really a big dream catcher.
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star-empty
                    span.reviewAuthor Taruni
                    small.reviewTimestamp
                    p 19 November 2022
                  .col-xs-12
                    p Worth the money. It's huge and I recommend it 1000%